* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #90ee90;
    color: black;
    padding: 0rem;
    text-align: center;
    height: 57px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #023030;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.game-item {
    background-color: #90ee90;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 360px; 
    min-height: 250px;
}
.game-item:hover{
    background-color: #75ec75;
    border: none;
}

.footer {
    background-color: #90ee90;
    color: black;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: #023030; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}
.button-home{
    background-color: #90ee90;
    color: black;
    
}